/* You can add global styles to this file, and also import other style files */

.encabezado {
    color: #fff;
    font-family: 'AccordAlt';
    font-weight: 800;
  }
  
  .texto {
    color: #fff;
    font-family: 'AccordAlt';
  }
  
    
